@import '../styles';

.container {
  display: flex;
  flex-direction: row;

  mat-grid-list {
    display: flex;
    flex-direction: row;
    width: 90%;

  }


.mat-grid-tile {
  flex-direction: row;
  height: 1243px;
  width: 135px;

  .week-container {
    display: flex;
    flex-direction: column;

  }

  .mat-figure {
    display: flex !important;
    flex-direction: column !important;
  }
}
.hours-container {
  width: 50%;
  @include day-container;

  p {
    text-align: center;
    padding-top: 10px;
  }



  .event {
    box-shadow: $box-shadow;
    width: 60px;
    @include event;

    p {
      text-align: center;
    }
  }

  .funeral-event {
    .funeral-event-nav {
      height: 51px;
      background-color: $font-primary;
      border-radius: 10px 10px 0px 0px;
      color: #fff;

      .divider {
        color: white;
      }
      .title {
        display:flex;
        flex-direction: row;


        h6 {
          font-size: 13px;
          font-family: ‘azo-sans-bold’;
          color: $white;

        }
      }

      p {
        font-size: 11px;
        color: $white;
        text-align: left;
        padding-left: 10px;
      }
    }
    .funeral-event-place {
      font-size: 11px;
      height: 35px;
      color: $font-primary;
      background: $white;
      text-align: left;
      border-radius: 0px 0px 10px 10px;

      p {
        padding-left: 10px;
      }
    }
  }

}


.day-container {
  width: 100%;
  @include day-container;

  p {
    text-align: center;
    padding-top: 10px;
  }



    .event {
      box-shadow: $box-shadow;
      width: 130px;
      @include event;
    }
  .funeral-event {
    .funeral-event-nav {
      height: 51px;
      background-color: $font-primary;
      border-radius: 10px 10px 0px 0px;
      color: #fff;

      .divider {
        color: white;
      }
      .title {
        display:flex;
        flex-direction: row;


        h6 {
          font-size: 13px;
          font-family: ‘azo-sans-bold’;
          color: $white;

        }
      }

      p {
        font-size: 11px;
        color: $white;
        text-align: left;
        padding-left: 10px;
      }
    }
    .funeral-event-place {
      font-size: 11px;
      height: 35px;
      color: $font-primary;
      background: $white;
      text-align: left;
      border-radius: 0px 0px 10px 10px;

      p {
        padding-left: 10px;
      }
    }
  }
    }

  }
