

<div class="container">
  <mat-grid-list cols="8" rowHeight="2:1">
    <ng-container>
      <mat-grid-tile>
        <div class="hours-container">
          <p>godzina </p>
          <div>
            <div>
              <div *ngFor="let hour of hours">
                <div class="event">
                  <mat-divider> </mat-divider>
                  <p>{{hour}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="day-container">
          <p>Monday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event"  *ngIf="hour !== event.hour">
                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour === event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="day-container">
        <p>Tuesday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event funeral-event"  *ngIf="hour === event.hour && event.day == day">
                <div class="funeral-event-nav">
                  <div class="title">
                    <img src="./../src/assets/rysunek.svg" height="20" width="15"/>
                    <h6> {{event.nameAndSurname}}</h6>
                  </div>
                  <mat-divider class="divider"> </mat-divider>
                  <div>
                    <p> {{event.timeDuration}}</p>
                  </div>
                </div>
                <div class="funeral-event-place">
                  <p>{{event.place}}</p>
                </div>

                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour !== event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="day-container">
          <p>Wednesday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event"  *ngIf="hour !== event.hour">
                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour === event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="day-container">
          <p>Thursday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event"  *ngIf="hour !== event.hour">
                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour === event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div></mat-grid-tile>
      <mat-grid-tile>

        <div class="day-container">
          <p>Friday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event"  *ngIf="hour !== event.hour">
                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour === event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="day-container">
          <p>Saturday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event"  *ngIf="hour !== event.hour">
                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour === event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="day-container">
          <p>Sunday</p>
          <div *ngFor="let event of events">
            <div *ngFor="let hour of hours">
              <div class="event"  *ngIf="hour !== event.hour">
                <mat-divider> </mat-divider>
              </div>
              <div *ngIf="hour === event.hour" class="event">
                <mat-divider> </mat-divider>
              </div>
            </div>
          </div>
        </div></mat-grid-tile>
    </ng-container>
  </mat-grid-list>

</div>
