@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './styles';
body {
  scroll-behavior: smooth;
}


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {


  }



.calendar-container {
  display:flex;
  flex-direction: column;
  justify-content: center;

  .nav {
    width: 100%;
    height: 60px;
    background: $nav-background;
    color: #fff;
    font-family: $azo-sans-light;
    padding: 30px 0px 0px 20px;
    font-size: 2pc;

  }
  .navigation {
    height: 25px;
    border-radius: 50px;
    width: 90%;
    margin: 20px auto;
    font-family: $azo-sans-light;
    color: $font-secondary;
    background: $background;
    padding-left: 50px;
  }

}


