<div class="calendar-container">
  <nav class="nav" (click)="switchComponent('week')"> Silenta </nav>
  <mat-card class="card-small navigation"> Dashboard/ Kalendarz / {{week}} </mat-card>


  <div *ngIf="option === 'week' || isShowingWelcome">
    <app-week></app-week>
  </div>
</div>


<router-outlet></router-outlet>
