
// colors
$bottom-border-color: #acacac;
$background: #ededed;
$second-color: #726d6d;
$nav-background: #1F282F;
$font-primary: #000000;
$font-secondary: #726d6d;
$white: #fff;


//fonts
@font-face {
  font-family: ‘azo-sans-bold’;
  src: url('./../../src/assets/azo sans/Rui Abreu - AzoSans-Bold.otf') format('truetype');
}

@font-face {
  font-family: ‘azo-sans-light’;
  src: url('./../../src/assets/azo sans/Rui Abreu - AzoSans-Light.otf') format('truetype');
}
$azo-sans-bold: ‘azo-sans-bold’;
$azo-sans-light: ‘azo-sans-light’;

$box-shadow:
  //0px 2px 5px 0px #cacaca
0px 0px 0px 0px;

@mixin list-element {
  margin: 0px 5px 0px 5px;
  border-radius: 10px;
  text-align: center;
  height: 400px;
  border-radius: 10px;
}

@mixin table-title {
  font-family: $azo-sans-bold;
  height: 35px;
  box-shadow: $box-shadow;
  margin: 0px 5px 0px 5px;
}

@mixin event {
  margin: 0px 5px 0px 5px;
  height: 80px;
  padding-top: 20px;
  border-radius: 10px;
}

@mixin day-container {
  background-color: $background;
  padding: 0;
  margin: 20px auto;
  font-family: $azo-sans-bold;
  float: left;
  border-radius: 10px;
  height: 1270px;
}
